<div id="<%= dom_id product %>">
  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= product.stock %>
  </p>

  <p>
    <strong>Gluten free:</strong>
    <%= product.gluten_free %>
  </p>

  <p>
    <strong>Diary free:</strong>
    <%= product.diary_free %>
  </p>

  <p>
    <strong>Months 6 to 12:</strong>
    <%= product.months_6_to_12 %>
  </p>

  <p>
    <strong>Years 1 to 2:</strong>
    <%= product.years_1_to_2 %>
  </p>

  <p>
    <strong>Years 2 to 4:</strong>
    <%= product.years_2_to_4 %>
  </p>

</div>